/* General Styles */
:root {
    --primary-color: #017cff;
    --secondary-color:#FFC107;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --text-color2:white;
    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Roboto', sans-serif;
}

h1, h2, a { 
    font-family: var(--font-family);
}

h3, p {
    font-family: var(--font-family2);
    font-weight: 300;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
header {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
   
}

img {
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}

.logo {
    padding-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.menu-toggle { 
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--background-color);
    cursor: pointer;
}

.close-menu {
    display: none;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 600px; 
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8; 
    margin-top: 1rem;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--background-color);
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px 100px;
    border-radius: 10px;
}

.hero-title h1 {
    margin: -2px;
}

/* Introduction */
.introduction {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    gap: 15rem;
    text-align: left;
    background-color: #f8f9fa; 
}

.intro-image {
    flex: 1;
    max-width: 600px;
}

.intro-image img {
    width: 100%;
    border-radius: 10px;
}

.intro-content {
    flex: 2;
    max-width: 600px;
}

.intro-content h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.intro-content .highlight {
    color: var(--secondary-color);
}

.intro-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.intro-content p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 18px;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

/* Testimonials Section */
.testimonials {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--background-color);
}

.testimonials h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 5rem;
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

.testimonial {
    background: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial p {
    font-style: italic;
    color: #555;
    font-size: 17px;
}

.testimonial span {
    display: block;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: #333;
}

/* How it works section */
.how-it-works {
    text-align: center;
    padding: 40px 20px;
}

.how-it-works h2 {
    margin: 5rem 0 5rem;
    font-size: 2rem;
}

.steps-container {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-bottom: 5rem ;
}

.step {
    max-width: 250px;
}

.step img {
    width: 30%;
    border-radius: 10px;
}

.step h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.step p {
    color: #555;
    font-size: 17px;
}
/* Community section */
.community {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-bottom: 1.5rem;
}

.community h2 {
    font-size: 2rem;
}

.community p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.community .cta-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 2rem;
    font-size: 20px;
    font-weight: bold;
}

/* Courses file */
/* Title Section Styles */
.title {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); 
    color: var(--text-color2);
    border-radius: 10px;
    margin: 30px auto;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.title p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 750px;
    margin: 0 auto;
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--text-color2);
    margin: 15px auto 0;
    border-radius: 2px;
}

/* Courses section*/
.courses {
    text-align: center;
    padding: 50px 20px;
}

.courses h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.course {
    background: var(--background-color);
    border-radius: 12px;
    padding: 20px;
    max-width: 320px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.course:hover {
    transform: translateY(-5px);
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.course .tag {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 5px 15px;
    font-family: var(--font-family2);
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px 0;
}

.course h3 {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.course p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 15px;
}

.course .btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.course .btn:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Course Details Section */
.course-details {
    padding: 50px 50px;
    max-width: 900px;
    margin: 1rem auto;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.course-details h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.course-details p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 10px;
}

.course-description {
    margin-bottom: 30px;
}

.course-description h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.course-description p {
    font-size: 1rem;
    color: var(--text-color);
}

.course-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.course-info .module {
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.course-info .module h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.course-info .module p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 30px;
    text-align: center;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

.cta-button-back {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.cta-button-back:hover {
    background-color: var(--primary-color);
}

/* Event file styles */
.intro, .categories, .events, .faq {
    text-align: center;
    padding: 1rem;
}

.categories .category-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.category {
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 1.5rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.events .event-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.event {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    padding: 1.5rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-details {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn-details:hover {
    background-color: var(--secondary-color);
}

/* FAQ Section */
.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.question {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    padding: 1.5rem;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Form */
.signup-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 25px;
    background-color: #E3E9EF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.signup-form h2, 
.signup-form p {
    text-align: center;
}

.form fieldset { 
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    border-radius: 8px;
    background-color: var(--background-color);
    margin-bottom: 12px;
    border: 1px solid #ccc;
}

.form legend { 
    color: var(--primary-color);
    font-family: var(--font-family);
    padding: 0.5rem 1rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.form label {
    font-family: var(--font-family2);
    font-weight: bold;
    display: block; 
    margin-top: 6px;
}

.form fieldset label {
    display: flex;
    align-items: center; 
    gap: 8px; 
    font-weight: normal;
}

.form input, 
.form select, 
.form textarea { 
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid #aaaaaa;
    border-radius: 6px;
    font-size: 1.3rem;
    box-sizing: border-box;
}


.form input[type="radio"], 
.form input[type="checkbox"] {
    margin-right: 6px;
    width: 16px;  
    height: 16px;
    vertical-align: middle;
}

.form input:required:invalid {
    border-right: solid 8px red;
}

.form input:required:valid {
    border-bottom: solid 8px green;
}
.continue { 
    font-size: 12px;
    text-align: center;
}

.button-form {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.button-form:hover {
    background-color: var(--secondary-color);
}

.thanks { 
    max-width: 700px;
    margin: 5rem auto;
    padding: 3.4rem;
    background-color: #E3E9EF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
}

.thanks h1, 
.thanks p {
    margin-bottom: 5rem;
}

.thanks p { 
    font-size: 1.1rem;
}
